body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;
  margin: 5rem;
  user-select: none;
  -webkit-user-select: none;
}

.image {
  transition: opacity 0.5s;
}

.image_changer {
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  font-size: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.image_changer:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
